/* fonts:
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
 */
:root {
    --font-raleway:'Raleway', sans-serif;
    --font-open-sans:'Open Sans', sans-serif;
    --color-red:#FB3B64;
    --color-blue:#08A6E4;
    --color-green:#55DFB4;
    --color-grey:#A5A5A5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: var(--font-open-sans);
}
a, a:hover {
    color:inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
}
.page-header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
}
.container {
    max-width: 1352px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-logo {
    font-family:var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-blue);
}
.page-logo:hover {
    color: var(--color-blue);
    font-size: 2rem;
    font-weight: 300;
}
.page-nav {
    height: 100%;
}
.page-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6875;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 3px;
    list-style: none;
    height: 100%;
}
.page-nav-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100%;
    border-bottom: 4px solid rgba(255,255,255,0);
    color: var(--color-grey);
    text-decoration: none;
}
.page-nav-list li:hover {
    color: black;
    border-bottom: 4px solid #08A6E4;
}
.banner {
    height: calc(100vh - 70px);
    background: url("../assets/Background.png") no-repeat center bottom;
    background-size: contain;
}
.banner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.banner-title {
    font-family:var(--font-raleway);
    font-size: 3rem;
    margin-top: 80px;
    /*padding-bottom: 20px; !* tu też .. nie wiem jak to powinienem ustawiać, w procentach ? *!*/
}
.banner-text {
    margin-top: 20px;
    /*padding-bottom: 30px;*/
}
.btn {
    color: #FFFFFF;
    font-weight: 700;
    border: none;
    display: inline-block;
    padding: 16px 65px;;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
}
.btn:hover {
    color: #FFFFFF;
    font-weight: 700;
}
.banner-button {
    margin-top: 40px;
    background-color: #08A6E4;
    padding: 22px 157px;
}
.section {
    width: 100%;
}
.statistic-section {
    height: 530px;
}
.statistic-container {
    height: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.statistic-container h2 {
    font-family:var(--font-raleway);
    font-size: 2.25rem;
    text-align: center;
    padding-top: 100px;
}
.article-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.article {
    font-family: var(--font-raleway);
    font-weight: 800;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.article > * {
    padding: 20px;
}
.article-icon {
    height: 52px; /* jak tutaj powinnismy to ustawiać ?*/
    width: 44px;
}
.icon-1 {
    background: transparent url("../assets/Person.svg") no-repeat center/contain;
}
.icon-2 {
    background: transparent url("../assets/Eye.svg") no-repeat center/contain;
}
.icon-3 {
    background: transparent url("../assets/Catalog.svg") no-repeat center/contain;
}
.article-icon::before {
    display: block;
    content: "";
    position: relative;
    left: -50px;
    top: -25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: -1;
}
.icon-1::before {
    background-color: var(--color-red);
}
.icon-2::before {
    background-color: var(--color-blue);
}
.icon-3::before {
    background-color: var(--color-green);
}
.article > p:nth-of-type(2) {
    text-align: center;
    color: #A5A5A5;
    font-weight: 400;
    font-size: 17px;
}
.main-section {
    padding: 100px 0;
    background-color: #F7F7F7;
}
.main-container {
    display: flex;
    flex-direction: column;
}
.main-articles {
    margin-bottom: 37px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    max-width: 1124px;
    background-color:#FFFFFF;
    height: 370px;
    width: 100%;
    display: flex;
}
.article-content {
    width: 50%;
    height: 100%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.benefits-title {
    font-size: 2.25rem;
    line-height: 42px;
    font-family: var(--font-raleway);
}
.benefits-article::after {
    content: "";
    display: block;
    width: 60%;
    height: 4px;
    background-color: var(--color-red);
    margin-top: 50px;
}
.article-graphic {
    width: 50%;
    position: relative;
}
.benefits-section-laptop .article-graphic img {
    position: relative;
    margin-top: 120px;
    margin-left: 50px;
    width: 380px;
    height: auto;
    z-index: 2;
}
.benefits-section-laptop .article-graphic::before {
    content: "";
    display: block;
    width: 180px;
    height: 180px;
    background: var(--color-red);
    border-radius: 40px;
    position: absolute;
    transform: rotate(45deg);
    right: 90px;
    top: 40px;
}
.benefits-section-phone {
    display: flex;
    flex-direction: row-reverse;
}
.benefits-section-phone .article-graphic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefits-section-phone img {
    position: relative;
    width: 25em;
    z-index: 2;
}
.benefits-section-phone .article-graphic::before {
    content: "";
    display: block;
    width: 18em;
    height: 18em;
    background: var(--color-blue);
    border-radius: 50%;
    position: absolute;
    left: 75px;
    top: 20px;
    transform: rotate(45deg);
}
.benefits-section-phone .benefits-article::after {
    background-color: var(--color-blue);
}
.articles-separate {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    margin-bottom: 0;
}
.articles-separate .article-content {
    background-color: #FFFFFF;
    width: 620px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}
.articles-separate .article-graphic {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green);
    width: 440px;
    border: 1px solid #E8E9ED;
    position: center;
    border-radius: 5px;
}
.articles-separate .article-graphic img {
    width: 20em;
}
.articles-separate .benefits-article::after {
    background-color: var(--color-green);
}
.price-section {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price-section h2 {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
}
.pricing-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}
.pricing-box {
    width: 25%;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pricing-box-basic {
    border: 1px solid var(--color-red);
}
.pricing-box-professional {
    border: 1px solid var(--color-blue);
}
.pricing-box-premium {
    border: 1px solid var(--color-green);
}
.pricing-type {
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}
.pricing-type h3 {
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: 1.5rem;
}
.pricing-type-value {
    margin-top: 25px;
    font-size: 2.875rem;
    font-weight: 300;
}
.pricing-box-basic .pricing-type-value{
    color:var(--color-red);
}
.pricing-box-professional .pricing-type-value{
    color:var(--color-blue);
}
.pricing-box-premium .pricing-type-value{
    color:var(--color-green);
}
.pricing-limited {
    margin-top: 15px;
    font-size: 0.75rem;
    font-family: var(--font-raleway);
    font-weight: 700;
}
.pricing-pack {
    text-align: center;
}
.pricing-pack li {
    font-size: 0.875rem;
    margin-bottom: 20px;
}
.pricing-include::before {
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Checkmark-1.svg");
    background-size: cover;
    color:var(--color-green);
    z-index: 1;
}

.pricing-not-include::before {
    color: var(--color-red);
    background-image: url("../assets/Close.svg");
}
.pricing-boxes .btn {
    position: relative;
    bottom: -25px;
    font-size: 0.8125rem;
}
.pricing-box-basic .btn {
    background-color: var(--color-red) ;
}
.pricing-box-professional .btn {
    background-color: var(--color-blue) ;
}
.pricing-box-premium .btn {
    background-color: var(--color-green) ;
}
.pricing-box-basic .pricing-type-value {
    margin-bottom: 30px;
}
.pricing-box-professional {
    width: 30%;
    padding: 15px 0;
    margin: 0 40px;
    box-shadow: 5px 10px 27px #07ACE629;
}
.pricing-box-professional .pricing-type {
    font-size: 1.3125rem;
}
.pricing-box-professional .pricing-type-value {
    margin-bottom: 30px;
}
.contact {
    padding: 80px 100px 100px;
    display: flex;
}
.contact-column {
    width: 50%;
}
.contact-column h2 {
    font-size: 3.0625rem;
    line-height: 3.5625rem;
    font-family: var(--font-raleway);
}
.contact-instruction {
    margin-top: 22px;
    margin-bottom: 42px;
    font-size: 1rem;
    line-height: 1.375rem;
}
.contact-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contact-details a {
    color:#A5A5A5;
    font-weight: 500;
}
.details-item:first-of-type {
    margin-right: 20px;
}
.details-item img {
    margin-right: 10px;
}
.form {
    display: flex;
    flex-direction: column;
}
.form-field {
    display: flex;
    flex-direction: column;
}
.form-field:first-of-type {
    margin-bottom: 42px;
}
.form-label {
    font-weight: bold;
    color: var(--color-blue);
    line-height: 0.9375rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
}
.form-input {
    border: none;
    border-bottom: 1px solid #A5A5A5;
    background-color: transparent;
    line-height: 2.625rem;
}
.form-consent {
    margin-top: 30px;
}
.form-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
}
.form-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.form-checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #F7F7F7;
    border: 1px solid #A5A5A5;
    border-radius: 4px;
}

.form-checkbox input:checked ~ .checkbox {
    background-image: url("../assets/Checkmark.svg");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.form-checkbox .consent-text {
    margin: 0 10px;
    font-size: 0.75rem;
    color: #A5A5A5;
    line-height: 17px;
}
.form .btn {
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
    background-color: var(--color-blue);
}
.page-footer {
    height: 89px;
    box-shadow: 0 -5px 40px #00000029;
}
.footer-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.page-footer .page-logo {
    font-size: 1.625rem;
    line-height: 30px;
    color: var(--color-blue);
    margin-bottom: 10px;
    font-family: var(--font-raleway);
}
.page-footer-copyright {
    font-size: 0.6875rem;
    line-height: 15px;
    color: #A5A5A5;
}
.footer-container .media img {
    padding: 5px;
}
